<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>form input</title>
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <div id="app">
      <div>
        <h1>v-model の基本おさらい</h1>
        <p>{{ message }}</p>
        <input type="text" v-model="message" />
        <pre>{{ $data }}</pre>
      </div>
      <div>
        <h1>v-model 利用時は value は無視される</h1>
        <input type="text" v-model="message" value="test" />
        <p>{{ message }}</p>
      </div>
      <div>
        <h1>text-area は v-model を使用する</h1>
        <label for="">マスタッシュ</label>
        <textarea>{{ message }}</textarea>
        <label for="">v-model</label>
        <textarea v-model="message"></textarea>
      </div>
    </div>
    <script src="https://unpkg.com/vue@3.1.5"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
