<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>conditional branching</title>
    <link rel="stylesheet" href="./css/main.css" />
  </head>
  <body>
    <div id="app">
      <div>
        <h1>基本構文</h1>
        <p v-if="toggle">Yes</p>
        <p v-else>No</p>
      </div>
      <div>
        <h1>v-else-if</h1>
        <p v-if="color === 'red'">Stop</p>
        <p v-else-if="color === 'yellow'">Caution</p>
        <p v-else-if="color === 'blue'">Go</p>
        <p v-else>Error</p>
      </div>
      <div>
        <h1>v-show</h1>
        <p>v-show で else は使えない</p>
        <p v-show="toggle">Hello arimura</p>
      </div>
    </div>
    <script src="https://unpkg.com/vue@3.1.5"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
